body{
    background-color: grey;
}

h1{
    text-align: center;
    color: white;
}

header{
    display: flex;
    justify-content: space-around
}

div{
    background-color:white;
    border: solid 3px black;
    margin-top: 1rem;
    min-height: 70vh;
}

button{
    border: solid 2px white;
    height: 2rem;
    color: white;
    background-color: black;
}
button:hover{
    color: black;
    background-color: white;
    border: solid 3px black;
}
